
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.anime_card {
    height: 250px;
    width: 200px;
}

.anime_card img {
    height: 250px;
    width: 170px;
}

.info {
    position: relative;
    top: -135%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.829);
    height:285px;
    width: 170px;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.anime_card:hover > .info {
    opacity: 1;
}
.anime_card:hover > .anime_title {
    opacity: 0;
}
.anime_card:hover > img {
    height:280px;
}

.info_anime {
    height: 170px;
    width: 95%;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.controles button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.play_button {
    background-color: rgb(255, 163, 44);
    border: none;
}
.play_button img {
    width: 16px;
    height: 16px;
}

.addList_button {
    border: 1px solid  rgb(255, 163, 44);
    background-color: rgba(255, 255, 255, 0);
}
.addList_button img {
    width: 22px;
    height: 22px;
}

.setinha_emogi {
    font-size: 10px;
}

@media (min-width: 901px) and (max-width:1200px) {
    
}

@media (min-width: 740px) and (max-width:900px) {
    
}

@media (min-width: 451px ) and (max-width:739px ) {
    
}

@media (min-width: 250px ) and (max-width:450px )  {

    .anime_card {
    width: 100px;
    height: 150px;
    }

    .anime_card img {
        width: 100px;
        height: 150px;
    }

    .info {
        position: relative;
        top: -135%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        background-color: rgba(0, 0, 0, 0.829);
        height:285px;
        width: 170px;
        opacity: 0;
        transition: opacity 0.1s ease;
    }

    .anime_card:hover > .info {
        opacity: 1;
    }
    .anime_card:hover > .anime_title {
        opacity: 0;
    }
    .anime_card:hover > img {
        height:280px;
    }

    .info_anime {
        height: 170px;
        width: 95%;
    }

    .controles {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .controles button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        padding: 20px;
        cursor: pointer;
        border-radius: 8px;
    }

    .play_button {
        background-color: rgb(255, 163, 44);
        border: none;
    }
    .play_button img {
        width: 16px;
        height: 16px;
    }

    .addList_button {
        border: 1px solid  rgb(255, 163, 44);
        background-color: rgba(255, 255, 255, 0);
    }
    .addList_button img {
        width: 22px;
        height: 22px;
    }

    .setinha_emogi {
        font-size: 10px;
    }
}

