
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

body, html {
    overflow-x: hidden;
}

.anime_card {
    position: relative;
    height: 200px;
    width: 350px;
    min-width: 350px;
}

.anime_card img {
    position: relative;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 350px;
}

.media_wrapper {
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3 ease;
}

.video_preview {
    position: absolute;
    top: 0%;
    width: 350px;
    height: 200px;
    z-index: 1;
    border: none;
    pointer-events: none;
}

.hidden {
    display: none;
}

.anime_card:hover .video_preview {
    opacity: 1;
}

.info {
    position: absolute;
    top:0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    gap: 2px;
    background-color: rgba(8, 8, 8, 0.705);
    width: 340px;
    height: 190px;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 999;
}

.title_controles_episodeos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 0;
    padding: 0;
}

.idade_generos img {
    width: 35px;
    height: 35px;
}
.generos {
    display: flex;
    flex-direction: c;
    align-items: center;
    justify-content: center;
    font-family: var(--span-font);
}

.anime_card:hover > .info {
    opacity: 1;
}

.info_anime {
    height: 20px;
    width: 100%;
}

.info_anime{
    color: white;
    font-family: var(--span-font);
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.controles button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.play_button {
    background-color: rgb(255, 163, 44);
    border: none;
}
.play_button img {
    width: 16px;
    height: 16px;
}

.addList_button {
    border: 1px solid  rgb(255, 163, 44);
    background-color: rgba(255, 255, 255, 0);
}

.title {
    margin: 0px;
}

@media (min-width: 200px ) and (max-width:749 )  {
    .anime_card {
        width: 320px;
        min-width: 320px;
        height: 180px;
    }

    .anime_card img {
        height:180px;
        width: 320px;
    }

    .video_preview {
        top: 0%;
        width: 300px;
        height: 180px;
    }

    .info {
        height:180px;
        width: 300px;
        font-size: 13px;
        padding: 0px;
        margin: 0;
        gap: 1px;
    }

    .play_button img {
        width: 10px;
        height: 10px;
    }

    .controles button {
        height: 15px;
        width: 15px;
        padding: 15px;
    }
}