@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.container_das_sessoes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 150em;
}

.sessao{
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

h2 {
    font-family: var(--span-font);
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-left: 3em;
    color: #ececec;
}

@media (min-width: 901px) and (max-width:1200px) {
    .container_das_sessoes {
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: cadetblue;
    height: 150em;
}
}

@media (min-width: 740px) and (max-width:900px) {
    .container_das_sessoes {
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: cadetblue;
    height: 150em;
}
}

@media (min-width: 451px ) and (max-width:739px ) {
    .container_das_sessoes {
        position: relative;
        top: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 20px 0;
        background-color: cadetblue;
        height: 150em;
    }
}

@media (min-width: 200px ) and (max-width:450px ) {
    .container_das_sessoes {
        position: relative;
        padding:  0 0 20px 0;
        height: 100em;
    }
}   



