@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.inicio {
    display: block;
    position: relative;
    height: auto;
}

.container_das_sessoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 7em 0 0 0 ;
}


h2 {
    margin-bottom: -40px;
    margin-left: 3em;
    font-family: var(--span-font);
    padding-left: 0;
    color: #ececec;
}

.animes_da_sessao::-webkit-scrollbar {
    display: none;
}
.animes_da_sessao img {
    cursor: pointer;
}

@media (min-width:200px) and (max-width:450px) {
    h2 {
        margin-bottom: -20px;
    }

    .meio {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
