@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.slider_container {
    display: flex;
    overflow-x: hidden;
}

body, html {
    overflow-x: hidden;
}

.box_img {
    width: 100%;
    min-width: 100%;
    height: 90vh;
    overflow: hidden;
}

.box_img > img {
    width: 100%;
    height: 90vh;
}

.container_logos {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 250px;
    height: 250px;
}

.container_logos > img {
    width: 250px;
}

.container_buttons {
    display: flex;
    align-items:center ;
    gap: 10px;
}

.container_buttons > button {
    all: unset;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;
}

.container_buttons > .episodeos_btn:hover, .container_buttons > .assistir_btn:hover  {
    border: 1px solid rgb(255, 163, 44);
}

.container_buttons > .assistir_btn {
    background-color:rgb(255, 163, 44);
    text-shadow: 0 0 5px black;
    font-family: var(--span-font);
}

.assistir_btn, .episodeos_btn  {
    font-family: var(--span-font);
}

.info_banner {
    position: relative;
    top: -5%;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.info_banner > p {
    padding: 5px;
    background-color: gray;
    border-radius: 6px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

.sinopse {
    position: relative;
    top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}

.animes_buttons {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    cursor: pointer;
}

.animes_buttons input[type="radio"] {
    padding: 0;
    width: 12px;
    height: 8px;
    transition: background-color 0.5s ease, border-color 0.3s ease;
    margin: 5px;
}

.animes_buttons input[type="radio"]:checked {
    background-color:  rgb(255, 163, 44); 
    border-color: rgb(255, 163, 44);
    width: 8px;
    border-radius: 50%;
}

.naruto_logo > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.jujutsu_logo {
    position: absolute;
    top: 20%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.jujutsu_logo > p {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.jujutsu_logo >img {
    width: 250px;
    height: 100px;
    padding: 15px;
}

.jojos_logo {
    position: absolute;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
}
.jojos_logo > img {
    width: 200px;
}

.dbz_logo {
    position: absolute;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.dbz_logo > img {
    width: 200px;
}

@media (min-width: 740px) and (max-width:900px) {
    .box_img {
        height: 80vh;
    }

    .box_img > img {
        height: 80vh;
    }

    .container_logos {
        top: 15%;
    }

    .container_logos > img {
        width: 200px;
    }

    .container_buttons > button {
        padding: 6px;
        font-size: 12px;
    }

    .info_banner {
        top: -5%;
    }

    .info_banner > p {
        padding: 5px;
        font-size: 8px;
    }

    .sinopse {
        width: 40vw;
        top: -10px;
        font-size: 13px;
        text-align: left;
    }

    .animes_buttons {
        top: 75%;
        left: 50%;
        transform: translate(-50%);
        gap: 1px;
    }

    .jujutsu_logo {
        top: 15%;
    }

    .jujutsu_logo > p {
        font-size: 11px;
    }

    .jujutsu_logo >img {
        width: 180px;
        height:60px;
    }

    .jojos_logo {
        top: 15%;
    }
    .jojos_logo > img {
        width: 150px;
    }

    .dbz_logo {
        top: 12%;
    }
    .dbz_logo > img {
        width: 150px;
    }

    .animes_buttons input[type="radio"] {
    margin: 5px;
    }
}

@media (min-width: 501px ) and (max-width:739px ) {
    .box_img {
        height: 60vh;
    }

    .box_img > img {
        height: 60vh;
    }

    .container_logos {
        top: 10%;
    }

    .container_logos > img {
        width: 150px;
    }

    .container_buttons > button {
        padding: 5px;
        font-size: 10px;
    }

    .info_banner {
        top: -5%;
    }

    .info_banner > p {
        padding: 5px;
        font-size: 6px;
    }

    .sinopse {
        width: 40vw;
        top: -10px;
        font-size: 11px;
        text-align: left;
    }

    .animes_buttons {
        top: 55%;
        left: 50%;
        transform: translate(-50%);
        gap: 1px;
    }

    .jujutsu_logo {
        top: 8%;
    }

    .jujutsu_logo > p {
        font-size: 11px;
    }

    .jujutsu_logo >img {
        width: 150px;
        height:60px;
    }

    .jojos_logo {
        top: 10%;
    }
    .jojos_logo > img {
        width: 120px;
    }
    .jojos p {
        font-size: 13px;
    }

    .dbz_logo {
        top: 9%;
    }
    .dbz_logo > img {
        width: 150px;
    }

    .animes_buttons input[type="radio"] {
    margin: 5px;
    }
}

@media (min-width: 200px ) and (max-width:500px )  {

    .box_img {
        height: 40vh;
    }

    .box_img > img {
        height: 40vh;
    }

    .container_logos {
        top: 10%;
        width: 50px;
        height: 50px;
    }

    .container_buttons > button {
        padding: 5px;
        font-size: 10px;
    }

    .info_banner {
        top: -5%;
    }

    .info_banner > p {
        padding: 3px;
        font-size: 5px;
    }

    .sinopse {
        width: 40vw;
        top: -10px;
        font-size: 7px;
        text-align: left;
    }

    .animes_buttons {
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        gap: 1px;
    }

    .container_logos > img,
    .jojos_logo > img,
    .dbz_logo > img {
    width: 100%;
    max-width: 250px;
    }

    .jujutsu_logo {
        top: 8%;
    }

    .jujutsu_logo > p {
        font-size: 11px;
    }

    .jujutsu_logo >img {
        width: 100px;
        height:50px;
    }

    .jojos_logo {
        top: 10%;
    }
    
    .jojos ´{
        font-size: 11px;
    }

    .dbz_logo {
        top: 10%;
    }

    .animes_buttons input[type="radio"] {
        padding: 0;
        width: 10px;
        height: 5px;
        margin: 2px;
    }
}


