@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.slider_container {
    display: flex;
}

.box_img > img, .box_img {
    width: 100vw;
    min-width: 100vw;
    height: 90vh;
}

.container_logos {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 250px;
    height: 250px;
}

.container_buttons {
    display: flex;
    align-items:center ;
    gap: 10px;
}

.container_buttons > button {
    all: unset;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;
}

.container_buttons > .episodeos_btn:hover, .container_buttons > .assistir_btn:hover  {
    border: 1px solid rgb(255, 163, 44);
}

.container_buttons > .assistir_btn {
    background-color:rgb(255, 163, 44);
    text-shadow: 0 0 5px black;
    font-family: var(--span-font);
}

.assistir_btn, .episodeos_btn  {
    font-family: var(--span-font);
}

.info_banner {
    position: relative;
    top: 0%;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.info_banner > p {
    padding: 5px;
    background-color: gray;
    border-radius: 6px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

.sinopse {
    position: relative;
    top: -20px;
    width: 20vw;
    font-size:15px;
    text-align: left;
}

.animes_buttons {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    gap: 1px;
    cursor: pointer;
    padding: 10px;
}

.animes_buttons input[type="radio"] {
    padding: 0;
    width: 12px;
    height: 8px;
    transition: background-color 0.5s ease, border-color 0.3s ease;
    margin: 5px;
}

.animes_buttons input[type="radio"]:checked {
    background-color:  rgb(255, 163, 44); 
    border-color: rgb(255, 163, 44);
    width: 8px;
    border-radius: 50%;
}

.naruto_logo, .jujutsu_logo, .jojos_logo, .dbz_logo {
    left: 6%;
    top: 20%;
}

.naruto_logo img, .jujutsu_logo img, .jojos_logo img, .dbz_logo img {
    width: 250px;
    height: 150px;
}

@media (min-width: 740px) and (max-width:900px) {
    .box_img, .box_img > img{
        height: 60vh;
    }

    .container_logos {
    top: 60%;
    left: 10%;
    }

    .container_buttons > button {
        padding: 5px;
        font-size: 10px;
    }

    .info_banner {
        top: 0%;
    }
    .info_banner > p {
        padding: 5px;
        font-size: 8px;
    }

    .sinopse {
        width: 40vw;
        top: -10px;
        font-size: 16px;
        text-align: left;
    }

    .animes_buttons {
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
        gap: 1px;
        padding: 10px;
    }

    .naruto_logo, .jujutsu_logo, .jojos_logo, .dbz_logo {
        left: 6%;
        top: 25%;
    }

    .naruto_logo img, .jujutsu_logo img, .jojos_logo img, .dbz_logo img {
        width: 180px;
        height: 100px;
    }

    .container_buttons > button {
    padding: 6px;
    font-size: 12px;
    }

    .animes_buttons {
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        gap: 1px;
        padding: 10px;
    }

    .animes_buttons input[type="radio"] {
        padding: 0;
        width: 10px;
        height: 5px;
        margin: 2px;
    }
}

@media (min-width: 501px ) and (max-width:739px ) {
    .box_img, .box_img > img{
        height: 60vh;
    }

    .container_logos {
    top: 60%;
    left: 10%;
    }

    .container_buttons > button {
        padding: 5px;
        font-size: 10px;
    }

    .info_banner {
        top: 0%;
    }
    .info_banner > p {
        padding: 5px;
        font-size: 7px;
    }

    .sinopse {
        width: 40vw;
        top: -10px;
        font-size: 14px;
        text-align: left;
    }

    .animes_buttons {
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
        gap: 1px;
        padding: 10px;
    }

    .naruto_logo, .jujutsu_logo, .jojos_logo, .dbz_logo {
        left: 6%;
        top: 25%;
    }

    .naruto_logo img, .jujutsu_logo img, .jojos_logo img, .dbz_logo img {
        width: 180px;
        height: 100px;
    }

    .container_buttons > button {
    padding: 6px;
    font-size: 12px;
    }

    .animes_buttons {
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        gap: 1px;
        padding: 10px;
    }

    .animes_buttons input[type="radio"] {
        padding: 0;
        width: 10px;
        height: 5px;
        margin: 2px;
    }
}

@media (min-width: 200px ) and (max-width:500px )  {

    .box_img, .box_img > img{
        height: 40vh;
    }

    .container_logos {
    top: 50%;
    left: 10%;
    }

    .container_buttons > button {
        padding: 5px;
        font-size: 10px;
    }

    .info_banner {
        top: 0%;
    }
    .info_banner > p {
        padding: 3px;
        font-size: 9px;
    }

    .sinopse {
        width: 55vw;
        top: -10px;
        font-size: 14px;
        text-align: left;
    }

    .animes_buttons {
        top:115%;
        left: 50%;
        transform: translateX(-50%);
        gap: 1px;
        padding: 10px;
    }

    .naruto_logo, .jujutsu_logo, .jojos_logo, .dbz_logo {
        left: 3%;
        top: 25%;
    }

    .naruto_logo img, .jujutsu_logo img, .jojos_logo img, .dbz_logo img {
        width: 150px;
        height: 70px;
    }

    .animes_buttons input[type="radio"] {
        padding: 0;
        width: 10px;
        height: 5px;
        margin: 2px;
    }
}


