.slider_container {
    display: flex;
}

.box_img {
    width: 100%;
    min-width: 100vw;
    height: 90vh;
}

.box_img > img {
    width: 100%;
    height: 90vh;
}

.container_logos {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 200px;
    height: 200px;
}

.container_logos > img {
    width: 250px;
}

.container_buttons {
    display: flex;
    align-items:center ;
    gap: 10px;
}

.container_buttons > button {
    all: unset;
    
    padding: 6px;
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;
}

.container_buttons > .episodeos_btn:hover, .container_buttons > .assistir_btn:hover  {
    border: 1px solid rgb(255, 255, 255);
}

.container_buttons > .assistir_btn {
    background-color:rgb(255, 163, 44);
    text-shadow: 0 0 5px black;
}

.info_banner {
    position: relative;
    top: -10%;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
}

.info_banner > p {
    padding: 5px;
    background-color: gray;
    border-radius: 6px;
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.sinopse {
    position: relative;
    top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: justify;
}

.animes_buttons {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    cursor: pointer;
}

.animes_buttons input[type="radio"] {
    padding: 0;
    width: 12px;
    height: 8px;
    transition: background-color 0.5s ease, border-color 0.3s ease;
}

.animes_buttons input[type="radio"]:checked {
    background-color:  rgb(255, 163, 44); 
    border-color: rgb(255, 163, 44);
    width: 8px;
    border-radius: 50%;
}


.naruto_logo {

}
.naruto_logo > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 133px;
}

.jujutsu_logo {
    position: absolute;
    top: 5%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.jujutsu_logo > p {
    padding: 0;
}

.jujutsu_logo >img {
    width: 250px;
    height: 150px;
    padding: 0;
    margin:  2em 0 0 0;
}

.jojos_logo {
    position: absolute;
    top: 16%;
    font-family: Arial, Helvetica, sans-serif;
}
.jojos_logo > img {
    width: 200px;
}

.dbz_logo {
    position: absolute;
    top: 12%;
    font-family: Arial, Helvetica, sans-serif;
}
.dbz_logo > img {
    width: 200px;
}