.prev_button, .next_button{
    all: unset;
    padding: 30px;
    height: 290px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
}

.prev_button {
    position: absolute;
    top: 400%;
    left:-4%;
    background-image: linear-gradient(to left, rgba(247, 247, 247, 0) 0%, black 30%);
}

.next_button {
    position: absolute;
    top: 400%;
    left: 97.5%;
    border-radius: 0 8px 8px 0;
    background-image: linear-gradient(to right, rgba(247, 247, 247, 0) 0%,  black 30%);
}
