@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
    --p-font: "Sen", sans-serif;
}

.header {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 0;
    margin: 0;
    height: 5em;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo_img{
    width: 130px;
    height: 130px;
}

.navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    font-family: var(--p-font);
    font-size: 13px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: left;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
ul li a:hover{
    all: unset;
    color: rgb(255, 163, 44);
}

ul li ul.dropdown li {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul li ul.dropdown li:hover {
    background-color:rgba(255, 164, 44, 0.514);
}

ul li ul.dropdown {
    min-width: 50px;
    background-color: rgba(0, 0, 0, 0.774);
    position: absolute;
    z-index: 999;
    display: none;
    top: 100%;
    left: -10%;
    padding: 0;
    border-radius: 0 0 8px 8px;
}

ul li:hover ul.dropdown {
    display: block;
}

input {
    all: unset;
    border: 1px solid rgb(136, 136, 136);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 3px;
}

.conta_idioma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:7em;
}

.icones {
    width: 30px;
    height:30px;  
    padding: 5px;
    cursor: pointer;
}

.setinha_emogi {
    font-size: 10px;
}

