@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.sessaoPopulares {
    position: absolute;
    margin-left: 45px;
    width: 95%;
    height: 20px;
}

.sessaoPopulares h2 {
    font-family: var(--span-font);
}

.animes_da_sessao{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 20px;
    margin-right:4em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animes_da_sessao img {
    cursor: pointer;
}