@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

body, html {
    overflow-x: hidden;
}

.sessao {
    width: 100%;
    height: 250px;
}
.sessaoAlta {
    position: absolute;
    top: 91%;
    height: 40px;
}
.sessaoAlta .animes_da_sessao {
    height: 400px;
    align-items: self-start;
}
.sessaoAlta h2 {
    margin: 0 0 10px 3em;
}

.sessaoPopular {
    position: absolute;
    top: 155%;
}
.sessaoSeinen {
    position: absolute;
    top: 217%;
}
.sessaoLista {
    position: absolute;
    top: 278.3%;
    width: 99%;
    cursor: grab;
    user-select: none;
}
.sessaoLista:active {
    cursor: grabbing;
}
.listaVazia {
    position: absolute;
    top: 80%;
    left: 10%;
}

.sessaoComedia {
    position: absolute;
    top: 340.2%;
}
.sessaoRomance {
    position: absolute;
    top: 402%;
}

.animes_da_sessao{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 20px;
    margin-right:4em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animes_da_sessao img {
    cursor: pointer;
}

@media (min-width: 901px) and (max-width:1200px) {
    .sessao {
        width: 100%;
        height: 20px;
    }
    
    .animes_da_sessao p {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }
    
    .sessaoAlta {
        position: absolute;
        top:105%;
        height: 40px;
    }

    .sessaoAlta h2 {
        font-size: 14px;
        margin: -25px 0 10px 1em;
    }

    .sessaoPopular h2, .sessaoSeinen h2, .sessaoComedia h2, .sessaoLista h2, .sessaoRomance h2 {
        margin: 0 0 5px 1em;
    }

    .sessaoPopular {
        position: absolute;
        top:165%;
    }

    .sessaoSeinen {
        position: absolute;
        top: 223%;
    }

    .sessaoLista {
        position: absolute;
        top: 281%;
        width: 100%;
        left:3%;
        cursor: grab;
        user-select: none;
    }

    .sessaoLista p{
        font-size: 14px;
    }
    .sessaoLista:active {
        cursor: grabbing;
    }
    .listaVazia {
        position: absolute;
        top:600%;
        left: 10%;
    }

    .sessaoComedia {
        position: absolute;
        top: 340%;
    }
    .sessaoRomance {
        position: absolute;
        top: 398%;
    }

    .animes_da_sessao{
        width: 100%;
        height: 230px;
        gap: 20px;
    }
}

@media (min-width: 740px) and (max-width:900px) {
    .sessao {
        width: 100%;
        height: 20px;
    }
    
    .animes_da_sessao p {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }
    
    .sessaoAlta {
        position: absolute;
        top:85%;
        height: 40px;
    }

    .sessaoAlta h2 {
        font-size: 14px;
        margin: -25px 0 10px 1em;
    }

    .sessaoPopular h2, .sessaoSeinen h2, .sessaoComedia h2, .sessaoLista h2, .sessaoRomance h2 {
        font-size: 14px;
        margin: 0 0 -6px 1em;
    }

    .sessaoPopular {
        position: absolute;
        top:140%;
    }

    .sessaoSeinen {
        position: absolute;
        top: 198%;
    }

    .sessaoLista {
        position: absolute;
        top: 259%;
        width: 100%;
        left:3%;
        cursor: grab;
        user-select: none;
    }

    .sessaoLista p{
        font-size: 11px;
    }
    .sessaoLista:active {
        cursor: grabbing;
    }
    .listaVazia {
        position: absolute;
        top: 500%;
        left: 10%;
    }

    .sessaoComedia {
        position: absolute;
        top: 317%;
    }
    .sessaoRomance {
        position: absolute;
        top: 375%;
    }

    .animes_da_sessao{
        width: 100%;
        height: 230px;
        gap: 20px;
    }
}

@media (min-width: 451px ) and (max-width:739px ) {
    .sessao {
        width: 100%;
        height: 20px;
    }
    
    .animes_da_sessao p {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }
    
    .sessaoAlta {
        position: absolute;
        top:65%;
        height: 40px;
    }

    .sessaoAlta h2 {
        font-size: 14px;
        margin: -25px 0 10px 1em;
    }

    .sessaoPopular h2, .sessaoSeinen h2, .sessaoComedia h2, .sessaoLista h2, .sessaoRomance h2 {
        font-size: 14px;
        margin: 0 0 -6px 1em;
    }

    .sessaoPopular {
        position: absolute;
        top:120%;
    }

    .sessaoSeinen {
        position: absolute;
        top: 175%;
    }

    .sessaoLista {
        position: absolute;
        top: 230%;
        width: 100%;
        left:3%;
        cursor: grab;
        user-select: none;
    }

    .sessaoLista p{
        font-size: 11px;
    }
    .sessaoLista:active {
        cursor: grabbing;
    }
    .listaVazia {
        position: absolute;
        top: 500%;
        left: 10%;
    }

    .sessaoComedia {
        position: absolute;
        top: 285%;
    }
    .sessaoRomance {
        position: absolute;
        top: 340%;
    }

    .animes_da_sessao{
        width: 100%;
        height: 230px;
        gap: 20px;
    }
}

@media (min-width: 200px ) and (max-width:450px )  {

    .sessao {
        width: 100%;
        height: 20px;
    }
    
    .animes_da_sessao p {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }
    
    .sessaoAlta {
        position: absolute;
        top:65%;
        height: 40px;
    }

    .sessaoAlta h2 {
        font-size: 14px;
        margin: -25px 0 10px 1em;
    }

    .sessaoPopular h2, .sessaoSeinen h2, .sessaoComedia h2, .sessaoLista h2, .sessaoRomance h2 {
        font-size: 14px;
        margin: 0 0 -35px 1em;
    }

    .sessaoPopular {
        position: absolute;
        top:85%;
    }

    .sessaoSeinen {
        position: absolute;
        top: 105%;
    }

    .sessaoLista {
        position: absolute;
        top: 125%;
        width: 100%;
        cursor: grab;
        user-select: none;
    }

    .sessaoLista p{
        font-size: 9px;
    }
    .sessaoLista:active {
        cursor: grabbing;
    }
    .listaVazia {
        position: absolute;
        top: 300%;
        left: 10%;
    }

    .sessaoComedia {
        position: absolute;
        top: 160%;
    }
    .sessaoRomance {
        position: absolute;
        top: 210%;
    }

    .animes_da_sessao{
        width: 100%;
        height: 230px;
        gap: 20px;
    }
}



