@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --span-font: "Lato", sans-serif;
}

.sessao {
    width: 100%;
    height: 20px;
}
.sessaoAlta {
    position: absolute;
    top: 93%;
    height: 40px;
}
.sessaoAlta .animes_da_sessao {
    height: 400px;
    align-items: self-start;
}
.sessaoAlta h2 {
    margin: 0 0 10px 3em;
}

.sessaoPopular {
    position: absolute;
    top: 155%;
}
.sessaoSeinen {
    position: absolute;
    top: 217%;
}
.sessaoLista {
    position: absolute;
    top: 278.3%;
}

.sessaoComedia {
    position: absolute;
    top: 340.2%;
}
.sessaoRomance {
    position: absolute;
    top: 402%;
}

h2 {
    font-family: var(--span-font);
    margin: 0;
    padding: 0;
    margin: 0 0 -40px 3em;
}

.animes_da_sessao{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 20px;
    margin-right:4em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animes_da_sessao img {
    cursor: pointer;
}